$primary-color: #1db954;
$primary-color-hover: #1ed75f;

$font-light:rgb(172, 170, 170);
$font-grey:#ffff;
$font-dark:#000;

$background-light: #fff;
$background-grey: rgb(85, 85, 85);
$background-dark: #000;
