$primary-color: #1db954;
$primary-color-hover: #1ed75f;

$font-light:rgb(235, 235, 235);
$font-grey:#ffff;
$font-dark:#000;

$background-primary: $primary-color;

$background-light: #fff;
$background-grey: rgb(85, 85, 85);
$background-grey-dark: #101010;
$background-dark: #000;

$background-grey-hover: #3c3c3c;

$danger: #f00;
